<!DOCTYPE html>
<html>
<head>
  <title>Showtube</title>
  <%= stylesheet_link_tag    "showtube/application", :media => "all" %>
  <%= javascript_include_tag "showtube/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
